<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-firebase-nse" version="1.0.0">
    <name>Firebase NSE Config</name>
    <description>Configures iOS Notification Service Extension</description>
    
    <platform name="ios">
        <hook type="after_prepare" src="scripts/add-extension.js" />
    </platform>
</plugin>