<?xml version="1.0" encoding="UTF-8"?>
<plugin id="cordova-plugin-firebase-nse"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0">

  <name>Firebase Notification Service Extension</name>

  <platform name="ios">

    <ios-extension
        name="NotificationService"
        type="app-extension">

      <config-file target="NotificationService/Info.plist" parent="NSExtension">
        <dict>
          <key>NSExtensionPointIdentifier</key>
          <string>com.apple.usernotifications.service</string>
          <key>NSExtensionPrincipalClass</key>
          <string>$(PRODUCT_MODULE_NAME).NotificationService</string>
        </dict>
      </config-file>

      <resource-file
          src="src/ios/NotificationService/NotificationService.swift"
          target="NotificationService/NotificationService.swift" />

      <resource-file
          src="src/ios/NotificationService/Info.plist"
          target="NotificationService/Info.plist" />

    </ios-extension>

  </platform>
</plugin>
